html,
body {
  height: 100%;
}
.wrap {
  min-height: 80%;
}
.main {
  overflow: auto;
  /* this needs to be bigger than footer height*/
  /* padding-bottom: 150px; */
  float: left;
}
.footer {
  position: relative;
  /* negative value of footer height */
  /* margin-top: -150px; */
  height: 150px;
  clear: both;
  padding-top: 20px;
  margin: 10px;
  border-top: #f0f0f0 1px solid;
}

.box-main {
  border: 1px solid #d0d0d0;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto;
}

.box {
  border: #d0d0d0 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 50px 100px;
}

.box-header {
  margin: 1% 0;
}
.box-title {
  /* position: relative; */
  /* top: -1.5rem; */
  display: inline;
  background-color: white;
  padding: 0 1%;
  font-size: 20px;
  margin: 0;
 
}

.list-group-item{
  border: 0;
}

span.key, span.value{
  text-transform: capitalize;
}
span.key{
  font-weight: bold;
}
