.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  overflow: auto;
  padding: 1%;
}

.card-board {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJCcrK9wJiGpBUdQKsIOhu2Ke2ffSixx9soQ&usqp=CAU") !important;
  
}
.card-size-board{
  max-width: 20rem;
  min-height: 10rem;
}
.card-size-board:hover {
  font-size: x-large;
  background-color: silver;
  /* transform: scale(1.03); */
}

a.link-board {
  color: #fafafa !important;
  text-decoration: none !important;
  text-align: center;
  outline: none;
  display: inline-block;
  font-size: large;
}

a.link-board:hover {
  font-size: xx-large;
  transform: scale(1.05);
}

.card-title {
  font-size: xx-large;
}
