.card-text-overflow{
    text-overflow: ellipsis;
    width: 242px;
    overflow: hidden;
    white-space: nowrap;
}

.update-card-btn{
	position: absolute;
    right: -149px;
    top: 90%;
}

label.checked{
  text-decoration-line: line-through;
}